.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primeCandidate {
  display: inline-block;
  margin: 2px;
  padding: 0 3px 0 3px;
  color: white;
  background: #628cff;
  border-radius: 0.2em;
  min-width: 1.75em;
  min-height: 1.5em;
}

.primeCandidateFiltered {
  background: #ff628c;
  text-decoration: line-through;
}

/*.primeCandidateRejected {*/
/*  background: #9fa8c1;*/
/*  text-decoration: line-through;*/
/*}*/

.sieveStep {
  margin: 0 0 20px 0
}

.sieveStep {
  margin: 0 0 20px 0
}

.sieveSteps {
  margin: 20px 50px 0 50px;
}